<article>
    <div *ngFor="let event of events">
        <div class="row">
            <div class="col-md-6">Name: {{event.name}}</div>
            <div class="col-md-6">Description: {{event.description}}</div>
        </div>
        <div class="row">
            <div class="col-md-6">Start: {{event.startDate}}</div>
            <div class="col-md-6">End: {{event.endDate}}</div>
        </div>
        <div class="row">
            <div class="col-md-6">Website: {{event.website}}</div>
            <div class="col-md-6">Price: {{event.price}}</div>
        </div>
    </div>   
</article>